<h2>Resume of {{model.firstName}} {{model.lastName}}</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <form name="resumeForm">
            <div class="form-group" ng-class="{'has-error': !resumeForm.firstName.$valid}">
                <label for="firstName">First Name:</label>
                <input id="firstName" name="firstName" type="text" class="form-control" ng-model="model.firstName"
                       required autofocus/>
                <label class="control-label" for="firstName" ng-show="resumeForm.firstName.$error.required">
                    Please enter First Name!
                </label>

            </div>
            <div class="form-group" ng-class="{'has-error': !resumeForm.lastName.$valid}">
                <label for="lastName">Last Name:</label>
                <input id="lastName" name="lastName" type="text" class="form-control" ng-model="model.lastName"
                       required/>
                <label class="control-label" for="lastName" ng-show="resumeForm.lastName.$error.required">
                    Please enter Last Name!
                </label>
            </div>
            <button class="btn btn-primary" ng-click="save()" ng-disabled="!resumeForm.$valid">
                <i class="fa fa-save fa-lg"></i> Save
            </button>
            <button class="btn btn-default" ng-click="cancel()">
                <i class="fa fa-ban fa-lg"></i> Cancel
            </button>
        </form>
    </div>
</div>