<h2>Resumes</h2>
<p>
    <button class="btn btn-primary" ng-click="create()">
        <i class="fa fa-plus fa-lg"></i> Add Resume
    </button>
</p>
<p>
    <input type="text" class="form-control" placeholder="Search"
           ng-model="searchString" autofocus>
</p>
<my-table
        columns="columns"
        sort="sort"
        order="order"
        rows="model.content"
        on-row-clicked="onRowClicked(row)">
</my-table>

<pagination
        page="currentPage"
        total-items="model.totalElements"
        items-per-page="itemsPerPage"
        max-size="maxSize"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"
        boundary-links="true"
        first-text="&laquo;"
        last-text="&raquo;"
        on-select-page="onSelectPage(page)"
        class="pagination-sm">
</pagination>
